@model IBAirlines.Models.Vol

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Vol</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Avion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Avion.Marque)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pilote)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pilote.Adresse)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VilleDepart)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VilleDepart)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VilleArrivee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VilleArrivee)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HeureDepart)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HeureDepart)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HeureArrivee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HeureArrivee)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.VolID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
