@model IEnumerable<IBAirlines.Models.AffecteVol>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Passager)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vol)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateVol)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumPlace)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prix)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Passager.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vol.VilleArrivee)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateVol)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumPlace)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prix)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AffecteVolID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AffecteVolID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AffecteVolID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
